* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black0: #000;
    --black1: #222;
    --black2: #999;
    --grad1: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/*btn*/
.btn {
    position: relative;
    padding: 10px 15px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.btn-black {
    background: var(--black0);
    color: var(--white);
}

.btn-delete {
    background: #CC0000;
}
/**/

.title {
    margin-top: 35px;
}

/* Main Menu */
.menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.5s;
    overflow-x: hidden;
}

.menu.active{
    width: 60px;
}

.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main-menu li:nth-child(1) {
    margin-bottom: 40px;
}

.main-menu__item {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.main-menu__item:hover,
.main-menu__item .hovered {
    background: var(--white);
}

.main-menu__item-link {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    align-items: center;
}

.main-menu__item-link:hover,
.main-menu__item-link .hovered {
    color: var(--black0);
}

.main-menu__logo-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.main-menu__logo-icon ion-icon {
    font-size: 1.75em;
}

.main-menu__logo-icon .main_menu__title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.main-menu__item:hover .main-menu__item-link::before,
.main-menu__item .hovered .main-menu__item-link::before{
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
}

.main-menu__item:hover .main-menu__item-link::after,
.main-menu__item .hovered .main-menu__item-link::after{
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
}

/* Top Menu */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 60px);
    left: 60px;
}

.top-menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.top-menu__humburger {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.top-menu__search {
    position: relative;
    width: 400px;
}

.top-menu__search label {
    position: relative;
    width: 100%;
}

.top-menu__search input{
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.top-menu__search ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.top-menu__user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.top-menu__user ion-icon {
    width: 100%;
    height: 100%;
}

/*Main Page*/

.card {
    position: relative;
    width: 100%;
    padding: 20px;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card-item {
    position: relative;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    text-align: center;
    flex-basis: 20%;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
}

.card-item .card-item__count{
    position: relative;
    font-weight: 700;
    font-size: 2.5em;
    color: var(--black0);
}

.card-item .card-item__title {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}

.card-item .card-item__icon-box{
    font-size: 3.5em;
    color: var(--black2);
}

.card-item:hover {
    background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
    transform: rotateZ(2deg);
}

.card-item:hover .card-item__count,
.card-item:hover .card-item__title,
.card-item:hover .card-item__icon-box{
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.user-list {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.user-list__item-top,
.admin-list__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-list__item-top h2,
.admin-list__item-top h2 {
    font-weight: 600;
    color: var(--black0);
}

.details table,
.section-category table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td,
.section-category thead th {
    font-weight: 600;
}

.details .user-list table tr,
.section-category table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .user-list table tr td a,
.section-category table tr td a {
    text-decoration: none;
    color: var(--black1);
}

.details .user-list table tr:last-child,
.section-category table tr:last-child{
    border-bottom: none;
}

.details .user-list table tbody tr:hover,
.section-category table tbody tr:hover{
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.details .user-list table tbody tr:hover td,
.section-category table tbody tr:hover td {
    color: var(--white);
}

.details .user-list table tbody tr:hover td a,
.section-category table tbody tr:hover td a{
    color: var(--white);
}

.details .user-list table tr td,
.section-category table tr td{
    padding: 10px;
}

.details .user-list table tr td:last-child,
.section-category table tr td:last-child{
    text-align: end;
}

.details .user-list table tr td:nth-child(2),
.section-category table tr td:nth-child(2){
    text-align: start;
}

.details .user-list table tr td:nth-child(3),
.section-category table tr td:nth-child(3){
    text-align: end;
}

.admin-list {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.admin-list__item-img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.admin-list__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-list table tr td {
    padding: 12px 10px;
}

.admin-list table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.admin-list table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}

.admin-list table tr:hover {
    background: var(--grad1);
    color: var(--white);
}

.admin-list table tr:hover td h4 span {
    color: var(--white);
}

/*Category Page*/

.section-category,
.section-post {
    position: relative;
    display: grid;
    grid-template-rows: 0.3fr 2fr;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    border-radius: 20px;
    margin-top: 35px;
    margin-right: 20px;
    margin-left: 20px;
}

.section-category ion-icon,
.section-post ion-icon{
    position: absolute;
    top: 4.7%;
    left: 1.5%;
    width: 30px;
    height: 30px;
}

.section-create {
    text-align: center;
}

/* Switch upper */
.button {
    margin-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.btn-list {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
/**/
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/

    /*background = gradient + image pattern combo*/
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
    font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
    width: 780px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27ae60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--black0);
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: var(--grad1);
    color: white;
}